DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

SERVER_PORT=8080

ACCESS_TOKEN_EXPIRED = 2
REFRESH_TOKEN_EXPIRED = 24

MAX_UPLOAD_SIZE=10

ACCESS_SECRET=abcdefghijklmn
REFRESH_SECRET=abcdefghijklmn
